{# <section class="home content-wrap">
    <div class="container">
        
        {% cache globally using key 'homepage-carousel-desktop' %}
        {% minify %}

        {% include theme('_partials/_home/articles_carousel') %}
        
        {% endminify %}
        {% endcache %}
        
        {% cache globally using key 'homepage-desktop' %}
        {% minify %}
        
        <section class="ad-solo">
            <div class="billboard-wrap">
 
                {{ doubleclick.adDiv("ad-billboard") }}
             
            <div class="ad-title">Advertisement</div>
        </section>
        
        <div class="col-wrap clearfix">
            <div class="col-a main-content col-md-8">
                {% include theme('_partials/_home/forum') %}
                {% include theme('_partials/_home/punchline') %}
                {% include theme('_partials/_home/product_news_and_highlights') %}
                {% include theme('_partials/_home/articles_and_projects') %}
            </div>
            <div class="col-b sidebar col-md-4 clearfix">
                {% include theme('_partials/_home_sidebar/search_tools') %}
                {% include theme('_partials/_home_sidebar/cool_beans') %}
                {% include theme('_partials/_home_sidebar/promo_pick_1') %}
                {% include theme('_partials/_home_sidebar/promo_pick_2') %}
                {% include theme('_partials/_home_sidebar/featured_tidesign') %}
                {% include theme('_partials/_home_sidebar/featured_engineer') %}
                {% include theme('_partials/_home_sidebar/app_notes') %}
                {% include theme('_partials/_home_sidebar/site_of_the_day') %}
                {% include theme('_partials/_home_sidebar/featured_quiz') %}
                {% include theme('_partials/_home_sidebar/jobs') %}
                {% include theme('_partials/_home_sidebar/events') %}
            </div>
        </div>
        {% endminify %}
        {% endcache %}
    </div>
</section>

<section class="full-width-ads">
    {{ doubleclick.adDiv("ad-leaderboard") }}
</section>
 #}
<h5>This is the Homepage.</h5>